<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <table th:fragment="list-product" class="table">
    <thead class="table-primary">
      <th>No.</th>
      <th>Name</th>
      <th>Price</th>
    </thead>
    <tbody>
      <tr th:each="prod : ${products}">
        <td th:text="*{prod.getId()}"></td>
        <td th:text="*{prod.getName()}"></td>
        <td th:text="*{prod.getPrice()}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>